<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.sns.mapper.CategoriesMapper">
    <select id="getAll" resultType="com.threeteam.sns.dto.CategoriesDto">
			SELECT * FROM categories
	</select>
    <select id="getById" parameterType="long" resultType="com.threeteam.sns.dto.CategoriesDto">
			SELECT * FROM categories WHERE id = #{id}
	</select>
</mapper>
