<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.sns.mapper.CommunitiesMapper">

    <select id="getAll" resultType="com.threeteam.sns.dto.CommunitiesDto">
			SELECT * FROM communities
	</select>

    <select id="getById" parameterType="long" resultType="com.threeteam.sns.dto.CommunitiesDto">
			SELECT * FROM communities WHERE id = #{id}
	</select>

    <insert id="insert" parameterType="com.threeteam.sns.dto.CommunitiesDto">
        INSERT INTO communities ( created_at
        <if test="id != null">, id</if>
        <if test="users != null">, users</if>
        <if test="categories != null">, categories</if>
        <if test="title != null">, title</if>
        <if test="content != null">, content</if>
        <if test="count != null">, count</if>
        <if test="updated_at != null">, updated_at</if>
        <if test="is_delete != null">, is_delete</if>
        <if test="is_visible != null">, is_visible</if>
        ) VALUES ( NOW()
        <if test="id != null">, #{id}</if>
        <if test="users != null">, #{users}</if>
        <if test="categories != null">, #{categories}</if>
        <if test="title != null">, #{title}</if>
        <if test="content != null">, #{content}</if>
        <if test="count != null">, #{count}</if>
        <if test="updated_at != null">, #{updated_at}</if>
        <if test="is_delete != null">, #{is_delete}</if>
        <if test="is_visible != null">, #{is_visible}</if>
        )
    </insert>

    <update id="update" parameterType="com.threeteam.sns.dto.CommunitiesDto">
        UPDATE communities SET updated_at = NOW()
        <if test="users != null">, users = #{users}</if>
        <if test="categories != null">, categories = #{categories}</if>
        <if test="title != null">, title = #{title}</if>
        <if test="content != null">, content = #{content}</if>
        <if test="count != null">, count = #{count}</if>
        <if test="is_delete != null">, is_delete = #{is_delete}</if>
        <if test="is_visible != null">, is_visible = #{is_visible}</if>
         WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
			DELETE FROM communities WHERE id = {id})
	</delete>



    <!-- 내가 쓴글 조회 추가-->
    <select id="selectByUserId" parameterType="string" resultType="com.threeteam.sns.dto.CommunitiesDto">
        SELECT * FROM communities WHERE users = #{userId}
    </select>





</mapper>
