<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.sns.mapper.FollowersMapper">
    
    <select id="getAll" resultType="com.threeteam.sns.dto.FollowersDto">
		SELECT * FROM followers
	</select>
    	
    <select id="getById" parameterType="int" resultType="com.threeteam.sns.dto.FollowersDto">
		SELECT * FROM followers WHERE `id` = #{id}
	</select>
	
	<select id="getFolloweesByUser" parameterType="string" resultType="com.threeteam.sns.dto.FollowersDto">
        SELECT *
        FROM followers
        WHERE follower = #{userId}
        ORDER BY created_at DESC
    </select>

    <select id="getFollowersByUser" parameterType="string" resultType="com.threeteam.sns.dto.FollowersDto">
        SELECT *
        FROM followers
        WHERE followee = #{userId}
        ORDER BY created_at DESC
    </select>
	
    	
    <insert id="insert" parameterType="com.threeteam.sns.dto.FollowersDto">
        <selectKey keyProperty="id" order="AFTER" resultType="int">SELECT LAST_INSERT_ID()</selectKey>
        INSERT INTO followers ( created_at
        <if test="id != null">, `id`</if>
        <if test="follower != null">, `follower`</if>
        <if test="followee != null">, `followee`</if>
        <if test="updated_at != null">, `updated_at`</if>
        ) VALUES ( NOW()
        <if test="id != null">, #{id}</if>
        <if test="follower != null">, #{follower}</if>
        <if test="followee != null">, #{followee}</if>
        <if test="updated_at != null">, #{updated_at}</if>
        )
    </insert>
    	
    <update id="update" parameterType="com.threeteam.sns.dto.FollowersDto">
        UPDATE followers SET updated_at = NOW()
        <if test="follower != null">, `follower` = #{follower}</if>
        <if test="followee != null">, `followee` = #{followee}</if>
         WHERE `id` = #{id}
    </update>
    
    <delete id="delete" parameterType="int">
		DELETE FROM followers WHERE `id` = #{id}
	</delete>

    <delete id="deleteFollowing">
        DELETE FROM followers WHERE follower = #{follower} AND followee = #{followee}
    </delete>

    <select id="search" parameterType="com.threeteam.sns.dto.FollowersDto" resultType="com.threeteam.sns.dto.FollowersDto">
        SELECT * FROM followers WHERE 1=1
        <if test="id != null">AND `id` = #{id}</if>
        <if test="follower != null">AND `follower` = #{follower}</if>
        <if test="followee != null">AND `followee` = #{followee}</if>
    </select>

    <select id="isFollowing" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM followers
        WHERE follower = #{follower} AND followee = #{followee}
    </select>
</mapper>
