<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.sns.mapper.ImagesMapper">
    
    <select id="getAll" resultType="com.threeteam.sns.dto.ImagesDto">
			SELECT * FROM images
	</select>

    <select id="getById" parameterType="long" resultType="com.threeteam.sns.dto.ImagesDto">
			SELECT * FROM images WHERE id = #{id}
	</select>

    <select id="getByBroads" parameterType="map" resultType="com.threeteam.sns.dto.ImagesDto">
        SELECT * FROM images WHERE board_types = #{board_type} AND board = #{board}
    </select>

    <insert id="insert" parameterType="com.threeteam.sns.dto.ImagesDto">
        INSERT INTO images ( created_at
        <if test="id != null">, id</if>
        <if test="board != null">, board</if>
        <if test="board_types != null">, board_types</if>
        <if test="url != null">, url</if>
        <if test="is_main != null">, is_main</if>
        ) VALUES ( NOW()
        <if test="id != null">, #{id}</if>
        <if test="board != null">, #{board}</if>
        <if test="board_types != null">, #{board_types}</if>
        <if test="url != null">, #{url}</if>
        <if test="is_main != null">, #{is_main}</if>
        )
    </insert>
    	
    <update id="update" parameterType="com.threeteam.sns.dto.ImagesDto">
        UPDATE images SET updated_at = NOW()
        <if test="board != null">, board = #{board}</if>
        <if test="board_types != null">, board_types = #{board_types}</if>
        <if test="url != null">, url = #{url}</if>
        <if test="is_main != null">, is_main = #{is_main}</if>
         WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="long">
			DELETE FROM images WHERE id = {id})
	</delete>
    	
</mapper>
