<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.sns.mapper.LikesMapper">
    
    <select id="getAll" resultType="com.threeteam.sns.dto.LikesDto">
			SELECT * FROM likes
	</select>
    	
    <select id="getById" parameterType="long" resultType="com.threeteam.sns.dto.LikesDto">
			SELECT * FROM likes WHERE id = #{id}
	</select>
    	
    <insert id="insert" parameterType="com.threeteam.sns.dto.LikesDto">
        INSERT INTO likes ( created_at
        <if test="id != null">, id</if>
        <if test="users != null">, users</if>
        <if test="board != null">, board</if>
        <if test="board_types != null">, board_types</if>
        ) VALUES ( NOW()
        <if test="id != null">, #{id}</if>
        <if test="users != null">, #{users}</if>
        <if test="board != null">, #{board}</if>
        <if test="board_types != null">, #{board_types}</if>
        )
    </insert>
    	
    <update id="update" parameterType="com.threeteam.sns.dto.LikesDto">
        UPDATE likes SET updated_at = NOW()
        <if test="users != null">, users = #{users}</if>
        <if test="board != null">, board = #{board}</if>
        <if test="board_types != null">, board_types = #{board_types}</if>
         WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="long">
			DELETE FROM likes WHERE id = {id})
	</delete>
    	
</mapper>
