<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.sns.mapper.UsersMapper">
    
    <select id="getAll" resultType="com.threeteam.sns.dto.UsersDto">
		SELECT * FROM users
	</select>
    	
    <select id="getById" parameterType="String" resultType="com.threeteam.sns.dto.UsersDto">
		SELECT * FROM users WHERE `id` = #{id}
	</select>

    <select id="getByEmail" parameterType="String" resultType="com.threeteam.sns.dto.UsersDto">
        SELECT * FROM users WHERE email = #{email}     LIMIT 1
    </select>
    <select id="getByAccount" parameterType="string" resultType="com.threeteam.sns.dto.UsersDto">
        SELECT * FROM users WHERE account = #{account}
    </select>
    	
    <insert id="insert" parameterType="com.threeteam.sns.dto.UsersDto">
        INSERT INTO users ( created_at
        <if test="id != null">, `id`</if>
        <if test="account != null">, `account`</if>
        <if test="password != null">, `password`</if>
        <if test="role != null">, `role`</if>
        <if test="name != null">, `name`</if>
        <if test="email != null">, `email`</if>
        <if test="content != null">, `content` = #{content}</if>
        <if test="img != null">, `img`</if>
        <if test="content != null">, `content`</if>
        <if test="is_alert != null">, `is_alert`</if>
        <if test="updated_at != null">, `updated_at`</if>
        ) VALUES ( NOW()
        <if test="id != null">, #{id}</if>
        <if test="account != null">, #{account}</if>
        <if test="password != null">, #{password}</if>
        <if test="role != null">, #{role}</if>
        <if test="name != null">, #{name}</if>
        <if test="email != null">, #{email}</if>
        <if test="content != null">, `content` = #{content}</if>
        <if test="img != null">, #{img}</if>
        <if test="content != null">, #{content}</if>
        <if test="is_alert != null">, #{is_alert}</if>
        <if test="updated_at != null">, #{updated_at}</if>
        )
    </insert>
    	
    <update id="update" parameterType="com.threeteam.sns.dto.UsersDto">
        UPDATE users SET updated_at = NOW()
        <if test="account != null">, `account` = #{account}</if>
        <if test="password != null">, `password` = #{password}</if>
        <if test="role != null">, `role` = #{role}</if>
        <if test="name != null">, `name` = #{name}</if>
        <if test="email != null">, `email` = #{email}</if>
        <if test="content != null">, `content` = #{content}</if>
        <if test="img != null">, `img` = #{img}</if>
        <if test="content != null">, `content` = #{content}</if>
        <if test="is_alert != null">, `is_alert` = #{is_alert}</if>
         WHERE `id` = #{id}
    </update>
    
    <delete id="delete" parameterType="String">
		DELETE FROM users WHERE `id` = #{id}
	</delete>
    	
    <select id="searchList" parameterType="com.threeteam.sns.dto.UsersDto" resultType="map">
        SELECT 
        	u.*, u.id AS users, 
        	<if test="follower != null">
        	EXISTS (
	            SELECT 1 
	            FROM followers f
	            WHERE f.follower = #{follower} 
	            AND f.followee = u.id
	        ) AS is_following
	        </if>
	        <if test="follower == null">
	        false AS is_following
	        </if>
            ,(
            SELECT COUNT(*)
            FROM followers f2
            WHERE f2.followee = u.id
            ) AS followerCount
        FROM users u
        <where>
	        <trim prefix="(" suffix=")" prefixOverrides="OR">
		        <if test="id != null">OR u.`id` = #{id}</if>
		        <if test="role != null">OR u.`role` = #{role}</if>
	            <if test="account != null">OR u.`account` LIKE CONCAT('%',  #{account}, '%')</if>
	            <if test="name != null">OR u.`name` LIKE CONCAT('%',  #{name}, '%')</if>
	            <if test="email != null">OR u.`email` LIKE CONCAT('%',  #{email}, '%')</if>
			</trim>
		</where>
    </select>
    	
</mapper>
